#!/usr/bin/env bash

Options[file_log]=/home/user1/src/bevent/bevent.log
Options[file_spool]=/home/user1/src/bevent/bevent.spool
Options[delay]=10

Bevents[0_name]=clipbored-restart
Bevents[0_command]=clipbored-restart.sh
Bevents[0_period]=50
Bevents[0_function]=false

Bevents[1_name]=mail-restart
Bevents[1_command]=mail-restart.sh
Bevents[1_period]=300
Bevents[1_function]=false

Bevents[2_name]=feedcacher
Bevents[2_command]=feedcacher.sh
Bevents[2_period]=3600
Bevents[2_function]=false

Bevents[3_name]=backup-squid-urls
Bevents[3_command]=backup-squid-urls.sh
Bevents[3_file]=/var/log/squid3/access.log
Bevents[3_period]=
Bevents[3_symbol]=MODIFY
Bevents[3_exclude]=
Bevents[3_function]=false

Bevents[4_name]=mailspool-notify
Bevents[4_command]=mailspool-notify.sh
Bevents[4_file]=${X_XDG_MAIL_DIR}/Maildir/system-mailspool/INBOX/IN/new/
Bevents[4_period]=
Bevents[4_symbol]=MOVED_TO
Bevents[4_exclude]=
Bevents[4_function]=false

Bevents[5_name]=mlr
Bevents[5_command]=mlr.sh
Bevents[5_file]=${X_XDG_LOG_HOME}/
Bevents[5_period]=
Bevents[5_symbol]=MODIFY
Bevents[5_exclude]="bevent.log;\.git"
Bevents[5_function]=false

Bevents[6_name]=test
Bevents[6_command]=__test
Bevents[6_period]=3600
Bevents[6_function]=true
__test () { echo 'test' ; }

# vim: set ts=8 sw=8 tw=0 et :
