options[file_log]=${X_XDG_LOG_HOME}/event.log
options[file_spool]=${X_XDG_LIB_DIR}/event.spool
options[file_queue]=${TMPDIR:-/tmp}/event.queue
options[delay]=60
#options[nofifo]=nofifo
#options[coproc]=coproc

events[0_name]=clipbored-restart
events[0_command]=clipbored-restart.sh
events[0_period]=60

events[1_name]=mail-restart
events[1_command]=mail-restart.sh
events[1_period]=300

events[2_name]=feedcacher
events[2_command]=feedcacher.sh
events[2_period]=3600

events[3_name]=backup-squid-urls
events[3_command]=backup-squid-urls.sh
events[3_file]=/var/log/squid3/access.log
events[3_period]=
events[3_symbol]=MODIFY
events[3_exclude]=

events[4_name]=mailspool-notify
events[4_command]=mailspool-notify.sh
events[4_file]=${X_XDG_MAIL_DIR}/Maildir/system-mailspool/INBOX/IN/new/
events[4_period]=
events[4_symbol]=MOVED_TO
events[4_exclude]=

events[5_name]=mlr
events[5_command]=mlr.sh
events[5_file]=${X_XDG_LOG_HOME}/
events[5_period]=
events[5_symbol]=MODIFY
events[5_exclude]="event.log;\.git"
